<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>No Brain No Gain</title>

  <link rel="icon" type="image/png" href="./img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One'
    rel='stylesheet' type='text/css'>

  <!-- Fichier Pannel  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Fichier CSS -->
  <link href="./css/navbar.css" rel="stylesheet">
  <link href="./css/profil.css" rel="stylesheet">
  <link href="./css/footer.css" rel="stylesheet">

</head>

<body>

  <!-- Navbar -->

  <%- include('../views/layouts/navbar.ejs', {button: '' }); -%>

    <!-- NavBar -->


    <!-- Début contenu de la page -->

    <div class="main-content">
      <!-- Top navbar -->

      <!-- Header -->
      <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Bonjour <%=user%>
              </h1>
              <p class="text-white mt-0 mb-5">Tu te trouve sur ta page de profil. C'est ici que tu vas pouvoir retrouver
                tous tes scores et tes statistiques</p>
              <a href="#!" class="btn btn-info">Modifier le profil</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="./img/profilPicture.jpg" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                  <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                        <span class="heading">22</span>
                        <span class="description">Friends</span>
                      </div>
                      <div>
                        <span class="heading">10</span>
                        <span class="description">Photos</span>
                      </div>
                      <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <h3>
                    <%=user%>
                  </h3>
                  <hr class="my-4">
                  <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                    records all of his own music.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Mon profil</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form>
                  <h6 class="heading-small text-muted mb-4">Mes informations</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Email</label>
                          <input type="email" id="input-email" class="form-control form-control-alternative"
                            placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-first-name">Nom</label>
                          <input type="text" id="input-first-name" class="form-control form-control-alternative"
                            placeholder="name" value="<%=user%>">
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- Description -->
                  <h6 class="heading-small text-muted mb-4">À propos de moi</h6>
                  <div class="pl-lg-4">
                    <div class="form-group focused">
                      <label>À propos de moi</label>
                      <textarea rows="4" class="form-control form-control-alternative"
                        placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fin contenu de la page -->

    <%- include('../views/layouts/footer.ejs'); -%>

</body>

</html>